body {
    color: white;
    background-color: #333;
    font-family: 'Raleway', sans-serif;;
}

#search_form {
    margin-top: 75px;
}

#search_form input {
    font-size: 0.7em;
    height: 50px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width:  auto;
    height: auto;
    padding: 5px;
    font: 12px 'Raleway',sans-serif;
    background: black;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}