<div class="row">
    <div class="col-md-offset-3 col-md-6 col-md-offset-3">
        <h2>{{ header }}</h2>
        <form id="search_form"  class="form-inline" role="form" ng-submit="apiSearch()">
            <input ng-model="search" type="text" class="form-control" placeholder="Search the DPLA!" />
            <button class="btn btn-lg btn-danger" type="submit" value="Search">Search</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-5 col-md-7" ng-show="loading">
        <img src="imgs/ajax.gif">
    </div>
</div>
<div class="row" ng-show="loaded">
    <a class="btn btn-info col-md-1 ng-isolate-scope" id="about-btn" pageslide="left" ps-custom-top="40" href="#about">About</a>
    <div class="btn-group col-md-2">
        <button class="btn btn-default" ng-click="graphType('tree')">Treemap</button>
        <button class="btn btn-default" ng-click="graphType('cloud')">Text Cloud</button>
    </div>
    <h3 class="col-md-9">Search: {{ search_term }}</h3>
</div>
<div class="row">
    <div class="col-md-12 force-tree" data="data" provider="dpla" ng-show="loaded"></div>
</div>

<div id="about" class="col-md-12 panel">
    <a class="btn btn-primary about" id="about-close">Close</a>
    <p>Search the DPLA for a term or terms and view the metadata associated with your search.
        You can view the metadata in various ways, either as treemap or as force directed text cloud. Click either chart type
        to zoom in further.</p>
    <p>Hover over a block or bubble to view info about it.</p>
    <p>The available metadata fields are: country, format, language, provider, state and subject. Metadata fields are based on
        which fields are facetable from the provider to reduce querying time.</p>
</div>