<div class="row">
    <div class="col-md-offset-1 col-md-10 col-md-offset-1">
        <h2>{{ header }}</h2>
        <p>Metadata Explorer is an attempt to explore national and pan-national digtial libraries in a different, hopefully
            useful way. Use Metadata Explorerto search the DPLA, Europeana or Digital New Zealand for a term or terms and view the metadata associated with your search.
            The metadata is shown as a force directed text cloud.</p>
        <p>Double click within the graph
        to zoom in further. Use your scroll wheel to pan back out. Hover over a text bubble to view info about it. Click a text
        bubble to search the selected provider for your original term plus the clicked metadata field.</p>
        <p>The metadata fields returned vary by provider based on which fields can be returned as facet counts to reduce API calls.
        For example, Europeana returns item usage licenses as a facetable fields, which the other providers don't.</p>

    </div>
</div>