<div class="row">
    <div class="col-md-offset-1 col-md-10 col-md-offset-1">
        <h2>{{ header }}</h2>
        <p>Search the DPLA, Europeana or Digital New Zealand for a term or terms and view the metadata associated with your search.
            You can view the metadata in various ways, either as treemap or as force directed text cloud. Double click either chart type
            to zoom in further.</p>
        <p>Hover over a block or bubble to view info about it. Click a term to search the selected provider for that term.</p>

    </div>
</div>